#login.grid_2.prefix_2.suffix_6
  p Please use Google Chrome (slow on Firefox).
  form(onsubmit="return false;")
    label
      | Your name, plz:
      input#nick(type='text', name='user[name]', autofocus)
    #login-fail(style='display: none;') Sorry, this nick has already been knicked.
    br
    label
      | If you feel lucky:
      input#start(type='button', value='Start')

#main
  #left-bar.grid_2
    h2 Players
    ul#player-list
    span#health
    #instructions
      h2 Instructions
      p Arrow keys move, space shoots
  #game.grid_7.suffix_1
    canvas#gjs-canvas
