#login
  h1 Sad Pandas
  p Please use Google Chrome (slow on Firefox).
  
  form(onsubmit="return false;")
    label
      | Your name, plz:
      input#nick(type='text', name='user[name]', autofocus)
    #login-fail(style='display: none;') Sorry, this nick has already been knicked.
    br
    label
      | If you feel lucky:
      input#start(type='button', value='Start')

#main(style='display: none;')
  #sidebar
    h1 Sad Pandas
    h2 Instructions
    p Arrow keys move, space shoots
    
    h2 Players
    ul#player-list
    span#health
  canvas#gjs-canvas
