#login
  h1 Sad Pandas
  form(onsubmit="return false;")
    label
      | Your name, plz:
      input#nick(type='text', name='user[name]')
    br
    label
      | If you feel lucky:
      input#start(type='button', value='Start')

#main(style='display: none;')
  #sidebar
    h1 Tanks
    h2 Players
    ul#player-list
  canvas#gjs-canvas

  