#login-splash
  img(src="/images/sadpandas.png", alt="Sad Pandas", title="Sad Pandas")
    
  form(onsubmit="return false;")
    label(for="nick") Enter your nick:
    p
      input#nick(type='text', name='user[name]', autofocus)
    #login-fail(style='display: none;') Sorry, this nick has already been knicked.
    p
      input#start(type='button', value='Start')

#wrapper
  #header
    img(src="/images/sadpandas.png", alt="Sad Pandas", title="Sad Pandas")

  #main
    ul#player-list
    ul#instructions
      li MOVE: ARROW KEYS
      li SHOOT: SPACE
      li TAB: SCORES
    #game
      canvas#gjs-canvas
