#login
  h1 Sad Pandas
  span Your name, plz
  input#nick(type='text')
  input#start(type='button', value='Start')

#main(style='display: none;')
  #sidebar
    h1 Tanks
    h2 Players
    ul#player-list
  canvas#gjs-canvas

  