!!!
html
  head
    title  Tanks
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/yabble.js')
    script(src='/javascripts/gamejs-wrapped.js')
    script(src='/params.js')
    script(src='/movement.js')
    script(src='/javascripts/init.js')
  body!= body
