!!!
html
  head
    title  Sad Pandas
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(href='http://fonts.googleapis.com/css?family=Delius+Unicase', rel='stylesheet', type='text/css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/yabble.js')
    script(src='/javascripts/gamejs-wrapped.js')
    script(src='/javascripts/params.js')
    script(src='/javascripts/geometry.js')
    script(src='/javascripts/init.js')
  body
    != body
