body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Delius Unicase', sans-serif;
  background:#7fb548 url('/images/body_bg.png');
}

#login-splash {
  width:20%;
  position:absolute;
  top:30%;
  left:40%;
  text-align:center;
  color:#fff;
}

#login-splash img {
  padding-bottom:20px;
}

#login-splash #nick {
  width:150px;
}

#wrapper {
  display:none;
}

#header {
  padding-top:36px;
  padding-bottom:15px;
  width:256px;
  height:80px;
}

#instructions {
  font-size:0.8em;
  padding:0;
  list-style-type:none;
  text-align:center;
}

#instructions > li {
  display:inline;
  margin-right:20px;
  color:#fff;
}

#gjs-canvas {
  border:3px solid #5ca21a;
}

#player-list {
  background-color:#000;
  color:#fff;
  display:none;
  list-style-type:none;
  margin:0;
  padding:0;
}

#player-list li {
  clear:both;
  padding:20px;
}

#player-list li .nick {
  float:left;
}

#player-list li .score {
  float:right;
}

