body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Bowlby One SC', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#sidebar {
  border: 1px solid black;
  float: left;
  width: 200px;
}

#game {
  border: 1px solid red;
  float: right;
}
