body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Bowlby One SC', sans-serif;
}

#main {
    display: none;
}

#player-list {
  list-style-type:none;
  margin:0;
  padding:0;
}

#player-list > li {
  clear:both;
}

#player-list > li > div.nick {
  float:left;
}

#player-list > li > div.score {
  float:right;
}

#instructions {
  padding-top:20px;
  clear:both;
}